[Unit]
Description=Export Flux container settings
DefaultDependencies=no
Before=user@1000.service basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/flux-env

[Install]
WantedBy=sysinit.target
